body{
    margin:0;
}
.container{
    margin:0px;
    padding: 0px;  
}

.komputerStore{
    margin-top:4%;
    margin-left: 20%;   
}

.nav{
    background-color: rgb(35, 35, 35);
    padding:0;
    margin:0;
    color:white;
    height: 50px;
   
}

.nav h2{
    margin:0;
    font-weight:normal;
    padding-top: 0.4em;
    padding-left: 2em;
}

.top{
    display: inline-flex;
    margin-bottom: 4%;
}
.bank{
    margin-right: 50px;
    width:200px;  
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 1em;
    height:250px;
}

.work{
    margin-right: 50px;
    width:200px;  
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 1em;
}

.laptopSelect{   
    width:200px;   
    border-radius: 10px;
    border: 1px solid lightgray;
    height:250px;
    padding-left: 1em;   
}

.laptopSelect select{
    height:35px;
    border-radius: 4px;
    width:180px;
}

.laptopInfo{  
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 700px;  
    height:180px;
    padding-left: 2em;
    padding-right: 2em;
}

.laptopInfo img{
    margin-right: 15px;
    margin-top:40px;
    float: left;  
}

.balanceBox{
    display: inline-flex;
}

.payBox{
    display:inline-flex;
    margin-bottom:20%; 
}

.leftFrame{
    display:inline-block;
    width:350px;
    padding-top:20px;
}

.rightFrame{
    display:inline-block;
    text-align: center;
    padding-top:40px;
    float: right;
}

.repayLoan{
    height:50px;
}

.repayLoan .repayButton{
    width: 180px;
    border:0;
    margin-bottom: 5px;
    background-color: lightgray;
    border-radius: 4px;
    height: 35px;
}

.repayLoan .repayButton:hover{
    background-color: rgb(154, 154, 154);
}

.loanButton{
    border-radius: 4px;
    border: 0;
    background-color: #61ef87;
    height: 35px;
    width:180px;
    margin-top: 20%;    
}
.loanButton:hover{
    background-color:#10bc3e;
}

.textBox{
    margin-bottom:0;
    height: 100px;
}

.bankButton{
    border-radius: 4px;
    background-color: rgb(255, 255, 77);
    border:0;
    height: 35px;
    width:90px;
}

.bankButton:hover{
    background-color: rgb(212, 212, 19);
}

.workButton{
    border-radius: 4px;
    background-color: rgb(65, 65, 206);
    color:white;
    border:0;
    height: 35px;
    width:90px;
}

.workButton:hover{
    background-color: rgb(43, 43, 145) ;
}

.buyButton{
    border-radius: 4px;
    background-color: #62d0ff;
    border:0;
    height: 35px;
    width:180px;
    font-style: bold;
}

.buyButton:hover{
    background-color: #1199d3;
}

